
backend:
  name: git-gateway
  branch: main 

media_folder: "assets/uploads"
public_folder: "/assets/uploads"

collections:
  - name: "pages"
    label: "Pages"
    files:
      - name: "home"
        label: "Home Page"
        file: "content/pages/home.json"
        fields:
          - { label: "Hero Title", name: "heroTitle", widget: "string" }
          - { label: "Hero Description", name: "heroDescription", widget: "text" }
          - { label: "Hero Button", name: "heroButton", widget: "string" }
          - { label: "Section Title", name: "sectionTitle", widget: "string" }
          - { label: "Section Description", name: "sectionDescription", widget: "text" }
